/* App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.BotCollection {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.BotCard {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  background-color: #f9f9f9;
}

.YourBotarmy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enlisted-bot {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  background-color: #e0e0e0;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
}